# Dependency directories
node_modules/
jspm_packages/

# Environment variables
.env

# Operating System Files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Temporary files
tmp/
temp/